@charset "utf-8";
/**************************************************
 * Omega v1.0
 * 播放器样式表文件
 * 编写：faiz
 * 时间：2018-6-30
 *************************************************/

/*定义鼠标滑轮事件*/
.mousewheel{
    background-image: url('../images/first_page.jpg');
    width: 100%;
    height: 100%;
}

/*定义滑动图标的动画*/
.slide_icon{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('../images/neoslide.png');
    position: relative;
    left:48%;top:70%;
    animation-name:web_first;
    animation-duation:1.8s;
    animation-timing-function: linear;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    /*Safari与Chrome*/
    -webkit-animation-name: web_first;
    -webkit-animation-duration: 1.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@keyframes web_first {
    0% {left:48%;top:70%;background-image: url("../images/neoslide.png")}
    /*50% {left:48%;top:72.5%;background-image: url("../images/neoslide2.png")}*/
    100%{left: 48%;top:75%;background-image: url("../images/neoslide2.png")}
}*

/*Safari and Chorome*/
@-webkit-keyframes web_first {
    0% {left:48%;top:70%;background-image: url("../images/neoslide.png")}
    /*50% {left:48%;top:72.5%;background-image: url("../images/neoslide2.png")}*/
    100%{left: 48%;top:75%;background-image: url("../images/neoslide2.png")}
}
/*qq样式*/
.btn_qq{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('../images/qq.png');
    position: absolute;
    top: 90%;
    right: 15%;
}
/*wechat样式*/
.btn_wechat{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('../images/wechat.png');
    position: absolute;
    top: 90%;
    right: 10%;
}
/*about样式*/
.btn_about{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-image: url('../images/about.png');
    position: absolute;
    top: 90%;
    right: 5%;
}

/*字体闪烁*/
.box{
    display: inline-block;
    font-size: 25px;
    position: absolute;
    left:48%;
    top:90%;
    background: linear-gradient(left, #93947e,#ecffe7);
    background: -webkit-linear-gradient(left, #93947e ,#ecffe7);
    background: -o-linear-gradient(right, #93947e,#ecffe7 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:scratchy 1.7s linear forwards infinite;
    /* 其它浏览器兼容性前缀 */
    -webkit-animation:scratchy 2s linear forwards infinite;
    -moz-animation: scratchy 2s linear forwards infinite;
    -ms-animation: scratchy 2s linear forwards infinite;
    -o-animation: scratchy 2s linear forwards infinite;
}
@keyframes  scratchy {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 0;
    }
    26% {
        background-position: 25px -25px;
    }
    50% {
        background-position: 25px -25px;
    }
    51% {
        background-position: 50px -50px;
    }
    75% {
        background-position: 50px -50px;
    }
    76% {
        background-position: 75px -75px;
    }
    99% {
        background-position: 75px -75px;
    }
    100% {
        background-position: 0 0;
    }
}
/* 添加兼容性前缀 */
@-webkit-keyframes scratchy {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 0;
    }
    26% {
        background-position: 25px -25px;
    }
    50% {
        background-position: 25px -25px;
    }
    51% {
        background-position: 50px -50px;
    }
    75% {
        background-position: 50px -50px;
    }
    76% {
        background-position: 75px -75px;
    }
    99% {
        background-position: 75px -75px;
    }
    100% {
        background-position: 0 0;
    }
}
@-moz-keyframes scratchy {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 0;
    }
    26% {
        background-position: 25px -25px;
    }
    50% {
        background-position: 25px -25px;
    }
    51% {
        background-position: 50px -50px;
    }
    75% {
        background-position: 50px -50px;
    }
    76% {
        background-position: 75px -75px;
    }
    99% {
        background-position: 75px -75px;
    }
    100% {
        background-position: 0 0;
    }
}
@-ms-keyframes scratchy {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 0;
    }
    26% {
        background-position: 20px -20px;
    }
    50% {
        background-position: 20px -20px;
    }
    51% {
        background-position: 40px -40px;
    }
    75% {
        background-position: 40px -40px;
    }
    76% {
        background-position: 60px -60px;
    }
    99% {
        background-position: 60px -60px;
    }
    100% {
        background-position: 0 0;
    }
}
@-o-keyframes scratchy {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 0 0;
    }
    26% {
        background-position: 20px -20px;
    }
    50% {
        background-position: 20px -20px;
    }
    51% {
        background-position: 40px -40px;
    }
    75% {
        background-position: 40px -40px;
    }
    76% {
        background-position: 60px -60px;
    }
    99% {
        background-position: 60px -60px;
    }
    100% {
        background-position: 0 0;
    }
}
